@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="hu">
<head>
    <title>Raktár</title>
    
</head>

<body>  
    <img
              src="https://www.godfrey.com/-/media/godfrey/insights/industry-research/is-the-iot-coming-to-a-warehouse-near-you/godfrey-je-blog-mrkt-p1.gif?la=en&&hasDDB76F8D3783D1F61668EA6E218ED2A2397EEA16"
              alt=""
              class="card-img-top"
            />
</body>
</html>
